.header {
  background-color: rgb(246, 105, 102);
  color: white;
  flex-direction: row;
  position: fixed;
  height: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.title {
  font-family: Arial;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

.check {
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
